<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="stories">
      <div class="container">
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Stories</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify;">
              Read the incredible stories of the individuals involved with Roatàn Peer Health Exchange.
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light" id="stories">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/trudy.jpeg" alt="">
              <h4>Name</h4>
              <p class="text-muted">Brief Summary</p>
            </div>
          </div>
          <div class="col-sm-6">
            Story!
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            Story #2!
          </div>
          <div class="col-sm-6">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/trudy.jpeg" alt="">
              <h4>Name #2</h4>
              <p class="text-muted">Brief Summary</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <% include ./partials/footer %>

  </body>

</html>
