<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="what-we-do">
      <div class="container">
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.beginningsHeader %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <% data.beginningsText.forEach(function(paragraph) { %>
              <p style="text-align: justify;">
                <%= paragraph %>
              </p>
            <% }); %>
          </div>
        </div>
      </div>
    </section>

    <section style="padding: 0 0 0 0;">
        <div class="middle-banner-3"/>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.innovateHeader %></h2>
          </div>
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <% data.innovateText.forEach(function(paragraph) { %>
                <p style="text-align: justify;">
                  <%= paragraph %>
                </p>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

  </body>

</html>
