<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="what-we-do">
      <div class="container">
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Our Beginnings</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <p style="text-align: justify;">
            Family planning is central to gender equality and women’s empowerment, and is a proven key factor in reducing poverty. Roatán Peer Health Exchange was created to spread awareness of the necessity of contraceptive and family planning for the entire island of Roatán, a region that currently has no form of reproductive health education within any of its nearly 80 schools, has the second highest incidence of AIDS in the country, and an alarming rate of teenage pregnancy, with nearly one-half of women pregnant before age 20. By enabling women to delay pregnancy, avoid childbearing, or space births, effective family planning programs are not only fundamental to women’s health but also their upward mobility, advancing women’s education and economic self-sufficiency.
            </p>
            <p style="text-align: justify;">
            Our peer health curriculum emphasizes a rights-based approach to reproductive health care promotion and provision, empowering participants to make free, informed and voluntary decisions about their reproductive health and behavior. Youth ambassadors learn public speaking and leadership skills not often afforded to them merely because of their gender. Addressing uncommon reproductive health topics such as gender, sexuality, bullying, and domestic violence, we hope to promote the advancement of otherwise marginalized groups of Hondurans - women, LGBTQI, STD/HIV-infected persons, and disabled persons - to better the entire community.
            <p>
          </div>
        </div>
      </div>
    </section>

    <section style="padding: 0 0 0 0;">
        <div class="middle-banner-3"/>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">How We Innovate</h2>
          </div>
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <p style="text-align: justify;">
                Family planning education has been recognized around the world as a means to decrease poverty, allow for economic stability, and promote gender equality. However, in order to best reach youth we must approach them in places and in ways that they already utilize. Research suggests that people are more likely to hear and relate to messages, if they believe the messenger faces the same concerns and pressures. Our model draws on the credibility that young people already have with their peers, empowering youth to disseminate family planning education and resources among themselves. While peer health education has never been attempted in Roatan, we have gone further to ensure a chain of learning among all those involved. Our medical students are taught by a local doctor, and these students then go on to mentor our peer health ambassadors not only providing ample reproductive health education but mentorship to the many Honduran youth, that like them hope to achieve higher education. Overall, we make learning fun. We take concepts normally taught within the confines of a classroom, and dismantle stigmas by offering free, comfortable and productive discussion on many themes that are labeled taboo.
              </p>
              <p style="text-align: justify;">
                Currently, there exists no form of reproductive health education on the entire island (n=100,000 people) which is in direct opposition with the President of Honduras’s 2018 and WHO 2020 goals to decrease the high rates of teenage pregnancy. Hoping to become a subsidiary of a much larger program such as the WHO and PASMO, we quickly learned due merely to our location in the Caribbean, Roatan, Honduras  is not within the jurisdiction of large aid groups and therefore we, nor other non-profits such as our in the region, are not financially supported. This explains why many non-profits struggle to continue in Roatan, despite the great need.
              <p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

  </body>

</html>
