body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

p {
  line-height: 1.75; }

a {
  color: #fed136; }
  a:hover {
    color: #fec503; }

.text-primary {
  color: #fed136 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

section {
  padding: 50px 0; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  section {
    padding: 75px 0; } }

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.btn-xl {
  font-size: 18px;
  padding: 20px 40px; }

.btn-primary {
  background-color: #fed136;
  border-color: #fed136; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }

::-moz-selection {
  background: #fed136;
  text-shadow: none; }

::selection {
  background: #fed136;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: transparent; }

#mainNav {
  background-color: #212529; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fec503; }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fed136; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #212529;
    height: 75px; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      height: 60px;
      opacity: 0.9; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

header.masthead {
  text-align: center;
  color: #212529;
  text-shadow: 1px 1px white;
  background-image: url("../img/drawings.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header.masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

.mission-heading {
  margin: 15px 0;
  text-transform: none;
}

.team-member {
  margin-bottom: 50px;
  text-align: center; }
  .team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

.partner {
  margin-bottom: 50px;
  text-align: center; }
  .partner img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
    border-radius: 25px; }
  .partner h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .partner p {
    margin-top: 0; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

ul.social-buttons {
  margin-bottom: 0; }
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529; }
    ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
      background-color: #fed136; }

.bio {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

header.what-we-do {
  text-align: center;
  color: #fed136;
  text-shadow: 1px 1px #212529;
  background-image: url("../img/flyers.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.what-we-do .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.what-we-do .intro-text .intro-heading {
      font-size: 30px;
      font-weight: 300;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  header.what-we-do .intro-text {
    padding-top: 300px;
    padding-bottom: 200px; }
    header.what-we-do .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 300;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

header.who-we-are {
  text-align: center;
  color: #fed136;
  text-shadow: 1px 1px #212529;
  background-image: url("../img/classroom.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.who-we-are .intro-text {
    padding-top: 150px;
    padding-bottom: 100px; }
    header.who-we-are .intro-text .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  header.who-we-are .intro-text {
    padding-top: 200px;
    padding-bottom: 200px; }
    header.who-we-are .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 300;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

  header.gallery {
    text-align: center;
    color: #fed136;
    text-shadow: 1px 1px #212529;
    background-image: url("../img/color-sheets.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.gallery .intro-text {
      padding-top: 150px;
      padding-bottom: 100px; }
      header.gallery .intro-text .intro-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  @media (min-width: 768px) {
    header.gallery .intro-text {
      padding-top: 200px;
      padding-bottom: 200px; }
      header.gallery .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 300;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

  header.stories {
    text-align: center;
    color: #fed136;
    text-shadow: 1px 1px #212529;
    background-image: url("../img/color-sheets.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.stories .intro-text {
      padding-top: 150px;
      padding-bottom: 100px; }
      header.stories .intro-text .intro-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 25px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

  @media (min-width: 768px) {
    header.stories .intro-text {
      padding-top: 200px;
      padding-bottom: 200px; }
      header.stories .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 300;
        line-height: 75px;
        margin-bottom: 50px;
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; } }

.carousel-img-container {
  margin: 0 auto;
  background-color: #D3D3D3;
  border-radius: 25px;
  opacity: 0.9;
  width: auto;
  height: 500px;
  max-height: 500px;
  position: relative;
}

.carousel-img {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.middle-banner-1 {
  background-image: url("../img/tableconvo.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.middle-banner-2 {
  background-image: url("../img/tableconvo2.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.middle-banner-3 {
  background-image: url("../img/beginnings1.jpg");
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
