<p class="text-muted" style="text-align: justify;">
  Our peer health ambassadors and community youth are surveyed at the completion of the 12 week program, and we gather data on number of visits to a health center, knowledge of how to access contraceptives, and contraceptive use among participants. We also partner with the public health system to monitor the monthly teenage pregnancy and STD rates. Additionally, we conduct weekly program evaluations and, at the end of each mentorship, our medical students are evaluated by our peer health ambassadors, who are in turn evaluated by the medical students and community members. This allows us to determine how we can improve and to create a fun and comfortable atmosphere for learning. 
</p>
