<p class="text-muted" style="text-align: justify;">
  Our program operates within the community and includes 10 peer health ambassadors who teach nearly 80 unique youth each month, and 10 medical students who mentor the peer health ambassadors. 50 to 80 women attend each of our health fairs and, at minimum, nearly 500 participants are served monthly by our organization.
</p>
